.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.image-card {
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-card h3 {
    color: #333;
    margin-top: 10px;
}


/* //task2 */

.counter-panel {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    width: 350px;
    margin: 30px auto;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.step-input {
    margin-top: 15px;
}

.step-input input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}